
    <!-- <h1>halaman about</h1>
    <section class="container">
        <div class="row">
            <div class="col text-center">
                <img src="../img/download.jpg" alt="">
                <h1 class="display-4">muiz</h1>
                <p class="lead">mahasiswa || teknik informatika</p>
            </div>
        </div>
    </section> -->



    <!--
    
        nah disni saya akan menambahkan gambar
        nah kan tinggal kita kasih saja path file gambarnya ya

        kalo kita lihat hasilnya maka gambarnya tidak tampil 
        nah kenapa begitu ?
        padahal pathnya itu sudah benar

        nah kenapa seperti itu 
        secara default express itu melindungi file file statis kita
        seperti gambar file css file js 

        yang kalian gunakan sebagai aset dari website kalian
        itu tidak bisa diakses secara default

        nah supaya kita bisa mengakses aset aset tersebut
        kita harus memberitahu expressnya 

        kalo kita punya folder public yang isinya 
        file file statis yang boleh diakses oleh siapapun

        nah itu caranya dengan menggunakan middleware build in
        yang namanya express static

        kalian bisa lihat didocumentasinya
        kita pergi kehalaman app.js
    

    
    -->


    <h1>halaman about</h1>
    <section class="container">
        <div class="row">
            <div class="col text-center">
                <img src="./img/download.jpg" alt="">
                <h1 class="display-4">muiz</h1>
                <p class="lead">mahasiswa || teknik informatika</p>
            </div>
        </div>
    </section>



    <!--

        untuk pathnya itu bisa langsung kalian tulis nama filenya saja


        kalo kita jalankan 
        nah sudah tampil gambarnya

        itu kalo kita ingin mengakses folder static
        menggunakan buid in middleware

        sama juga kalo kalian punya file css yang kalian buat sendiri
        ya 

        jadi tinggal kita masukkan kedalam folder public
        meskipun kita panggil cssnya didalam folder layouts 

        kalo punya file css itu kita tinggal tulis pathnya sesuai
        nama file cssnya ya


    
    -->