<div class="container">
    <div class="row">
        <div class="col"><h1>ini adalah halaman home</h1></div>
    </div>
    <div class="row">
        <div class="col-md-5 mt-5">
            <p>Kontak App</p>
            <hr>
            <p>Kontak App adalah sebuah website yang bisa digunakan untuk melakukan CRUD pada kontak, kalian juga bisa memasukkan kontak anda</p>
            <strong>perhatikan validasi untuk menambah kontak</strong>
        </div>
    </div>
</div>