<!-- nah sekarang isinya apa
kita isi apa yang ada didalam header dan footer -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title><%= title %> </title>
  </head>
  <body>

    <!-- jadi ini ceritanya layout utama kita 
    semua layoutnya akan mengikuti halaman ini dan yang
beda hanya contentnya saja 

misalnya saya ingin bikin container-fluid --> 
    <div class="container-fluid">
        <!-- nah jadi yang akan berbeda setiap halaman adalah
        isi dari container-fluidnya saja 
    
        nah misalnya titlenya juga ingin kita pakai
        jadi kita tinggal ubah saja-->

        <!-- nah didalam container-fluid ini kita tulis seperti ini  -->

        <%-  body %> 

        <!-- nah kita tulis didalamnya body 
        jadi nanti apapun isi dari halaman halaman lain 
        akan tersimpan kebody 
    
        sehingga didalam halaman about dan contact kita hapus
        includenya 
    
        jadi yang terjadi adalah semua halaman yang ada didalam 
        about dan contact akan masuk kehalaman body ini 
    
        nah tapi gimana cara memberi tahu supaya halaman ini yang 
        akan kita pakai 
    
        kita pergi file app.js-->
        
    </div>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>