
<h1>ini adalah halaman home</h1>

<section>
    <h1>ini adalah nama nama mahasiwa</h1>

    <% mahasiswa.forEach(mhs=> { %>
        <ul>
            <li><%= mhs.nama %> </li>
            <li><%= mhs.nim %> </li>
            <li><%= mhs.jurusan %> </li>
        </ul>
    <% }) %>
</section>