<%- include('./layouts/header.ejs') %> 
    <h1>Hello, halaman contact</h1>
<%- include('./layouts/footer.ejs') %> 


<!-- nah jadi akan seperti itu 
sangat rapi ya 

jadi kalo kalian klik kanan
open source ini sudah langsung mengambil dari 
halaman halaman yang kita tulis

nah sekarang gimana kalo kita ingin menubah
nama titlenya sesuai dengan data yang kita kirimkan 
pada appnya?

nah karena kita sudah melakukan include 
maka bagian yang ada didalam file yang diinclude

akan menjadi milik file yang melakukan include
kan tinggal kita ganti sama

titlenya pada halaman yang diinclude
dengan nama variable yang kita kirimkan 

jadi kalian cukup tuliskan
    <title>halaman <%#  title  %> 

seperti itu ya


kalo kita jalankan 
sudah ya 

namanya akan berganti sesuai dengan
apa yang kita kirimkan 


begitu ya mudah mudahan kalian paham ya
bagaimana penggunaan layout 

nah dan terakhir ini 
kita akan udah pendekatan penggunaan layoutnya
supaya lebih flexible lagi 

kalo ada halaman baru kita harus include lagi 
halamannya 

nah alangkah lebih bagusnya 
ketika kita punya satu layout utama misalnya 

jadi tidak terpecah seperti ini 

jadi kita punya layout utama yang isi isinya
kita mengambil dari layout yang berbeda untuk tiap
halaman 

nah alangkah lebih bagusnya kalo seperti itu
sayangnya ejs ini secara default bisa melakukan itu 

nah tapi untungnya ada package lain 
dinpm yang bisa melakukan itu 

kalo kita cari itu ada yang namanya
express-ejs-layouts

-->