<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 
        nah caranya kita bisa bikin saya pakai tag ejsnya 
         <%  %>
        didalam tag itu kita bisa tulis sintax jsnya
     -->

     <% const nama = 'muiz' %>

     <!-- nah untuk mengambil variablen nya 
          dan mencetak kita tinggal pakai tag
        
        <%= %> -->
    <h1>selamat datang <%= nama%></h1>

    <!-- nah jadi dia sudah bisa membaca isi dari variable
    
    tapi kalo kalian menggunakan vs code 
    sintax higlighting nya tidak terbaca atau tidak ada warnanya ya 
    
    nah supaya gampang kita menulis sintax ejs
    gimana kalo kita install dulu extention untuk
    mengelola sintax ejsnya

    kalian cari saja ejs

    untuk memanggil tagnya kalian bisa tulis
    ejs atau tanda %

-->
 
<!-- 

sekarang kita sudah tahu bagaimana caranya kita mencetak 
isi sebuah variable 

karena kita bisa menuliskan javascriptnya dihalaman ini 
tapi gimana kalo misalkan data nama ini 

saya tidak mau menuliskannya dihalaman ini 
tapi saya mau mengirimkan dari app.js pada route getnya

karena nanti pasti seperti itu ya
kita mendapatkan data misalnya dari database dari API

baru kita kirimkan ke halaman index 
 -->

</body>
</html>