
   

    <h1>halaman about</h1>
    <section class="container">
        <div class="row">
            <div class="col text-center">
                <img src="./img/download.jpg" alt="">
                <h1 class="display-4">muiz</h1>
                <p class="lead">mahasiswa || teknik informatika</p>
            </div>
        </div>
    </section>

